ul.nav.navbar-nav.navbar-right
  li(class=(referencedFile === 'impressum' ? 'active' : undefined))
    a(href='impressum.html') Impressum
  li(class=(referencedFile === 'kontaktformular' ? 'active' : undefined))
    a(href='kontaktformular.html') Kontakt
  li(class=(referencedFile === 'suche' ? 'active' : undefined))
    a(href='suche.html') Suche