ul
  li(class=(referencedFile === 'index' ? 'active' : undefined))
    a(href='index.html') Willkommen in Wollbach
  li
    div Aktuelles
    ul
      li(class=(referencedFile === '1250-jahrfeier' ? 'active' : undefined))
        a(href='1250-jahrfeier.html') 1250 Jahrfeier
      li(class=(referencedFile === 'veranstaltungen' ? 'active' : undefined))
        a(href='veranstaltungen.html') Veranstaltungen
  li
    div Unser Dorf
    ul
      li(class=(referencedFile === 'ortsverwaltung' ? 'active' : undefined))
        a(href='ortsverwaltung.html') Ortsverwaltung
      li(class=(referencedFile === 'geschichte' ? 'active' : undefined))
        a(href='geschichte.html') Geschichte
      li(class=(referencedFile === 'oeffentliche-einrichtungen' ? 'active' : undefined))
        a(href='oeffentliche-einrichtungen.html') Jugendorchester
  li
    div Kultur und Freizeit
    ul
      li(class=(referencedFile === 'themen-und-wanderwege' ? 'active' : undefined))
        a(href='themen-und-wanderwege.html') Themen- und Wanderwege
      li(class=(referencedFile === 'museen' ? 'active' : undefined))
        a(href='museen.html') Museen
  li(class=(referencedFile === 'vereine' ? 'active' : undefined))
    a(href='vereine.html') Vereine
  li(class=(referencedFile === 'gastronomie' ? 'active' : undefined))
    a(href='gastronomie.html') Gastronomie
  li(class=(referencedFile === 'gewerbe' ? 'active' : undefined))
    a(href='gewerbe.html') Gewerbe
  li(class=(referencedFile === 'kirche' ? 'active' : undefined))
    a(href='kirche.html') Kirche
  li
    a(href="impressum.html") Impressum
    ul
      li(class=(referencedFile === 'haftung' ? 'active' : undefined))
        a(href='haftung.html') Haftungsausschluss
      li(class=(referencedFile === 'datenschutz' ? 'active' : undefined))
        a(href='datenschutz.html') Datenschutz
      li(class=(referencedFile === 'seiten-uebersicht' ? 'active' : undefined))
        a(href='seiten-uebersicht.html') Seiten-Übersicht
  li(class=(referencedFile === 'kontaktformular' ? 'active' : undefined))
    a(href='kontaktformular.html') Kontakt
  li(class=(referencedFile === 'suche' ? 'active' : undefined))
    a(href='suche.html') Suche