ul.nav.navbar-nav.navbar-right
  li.dropdown
    a.dropdown-toggle(href='#' data-toggle='dropdown') Aktuelles
      b.caret
    ul.dropdown-menu
      li(class=(referencedFile === '1250-jahrfeier' ? 'active' : undefined))
        a(href='1250-jahrfeier.html') 1250 Jahrfeier
      li(class=(referencedFile === 'veranstaltungen' ? 'active' : undefined))
        a(href='veranstaltungen.html') Veranstaltungen
  li.dropdown
    a.dropdown-toggle(href='#' data-toggle='dropdown') Unser Dorf
      b.caret
    ul.dropdown-menu
      li(class=(referencedFile === 'ortsverwaltung' ? 'active' : undefined))
        a(href='ortsverwaltung.html') Ortsverwaltung
      li(class=(referencedFile === 'geschichte' ? 'active' : undefined))
        a(href='geschichte.html') Geschichte
      li(class=(referencedFile === 'oeffentliche-einrichtungen' ? 'active' : undefined))
        a(href='oeffentliche-einrichtungen.html') Jugendorchester
  li.dropdown
    a.dropdown-toggle(href='#' data-toggle='dropdown') Kultur und Freizeit
      b.caret
    ul.dropdown-menu
      li(class=(referencedFile === 'themen-und-wanderwege' ? 'active' : undefined))
        a(href='themen-und-wanderwege.html') Themen- und Wanderwege
      li(class=(referencedFile === 'museen' ? 'active' : undefined))
        a(href='museen.html') Museen
  li(class=(referencedFile === 'vereine' ? 'active' : undefined))
    a(href='vereine.html') Vereine
  li(class=(referencedFile === 'gastronomie' ? 'active' : undefined))
    a(href='gastronomie.html') Gastronomie
  li(class=(referencedFile === 'gewerbe' ? 'active' : undefined))
    a(href='gewerbe.html') Gewerbe
  li(class=(referencedFile === 'kirche' ? 'active' : undefined))
    a(href='kirche.html') Kirche