---
title: "1250 Jahre Wollbach"
description: ""
keywords: "Jubiläum, 1250 Jahre, Wollbach"

navigation: "top"
---

extends ../../template.pug

block content
  +image("/img/1250.png", "1250 Jahre Wollbach")

  :marked
  # Festwochenende
  ## Samstag 20. Mai 2017
  **19:00** Uhr Festbankett in der Kandertalhalle mit
  - Festredner Axel Huettner, Pfarrer i.R.
  - Gästen aus Wollbach an der Rhön
  - Musikverein Wollbach
  - Gesangverein Wollbach
  - Ehrengästen

  ## Sonntag 21. Mai 2017
  **10:00 Uhr** Festgottesdienst in der Kandertalhalle mit
  - Pfarrer Werner Häffner
  - Kirchenchor, Musik- und Gesangverein
  - anschließend Frühschoppenkonzert der Dilettantenmusik Wollbach
