---
title: "1250 Jahre Wollbach"
description: "Informationen zur 1250 Jahrfeier Wollbachs"
keywords: "Jubiläum, 1250 Jahre, Wollbach"

navigation: "top"
---

extends ../../template.pug

block pageStyles
  include ../../styles/1250.css

block content
  +image("/img/1250.jpg", "1250 Jahre Wollbach").logo-1250

  :marked
    # Festwochenende
    ## Samstag 20. Mai 2017
    **19:00** Uhr Festbankett in der Kandertalhalle mit
    - Festredner Axel Huettner, Pfarrer i.R.
    - Gästen aus Wollbach an der Rhön
    - Musikverein Wollbach
    - Gesangverein Wollbach
    - Ehrengästen

    ## Sonntag 21. Mai 2017
    **10:00 Uhr** Festgottesdienst in der Kandertalhalle mit
    - Pfarrer Werner Häffner
    - Kirchenchor, Musik- und Gesangverein
    - anschließend Frühschoppenkonzert der Dilettantenmusik Wollbach
