figure {
  .img {
    display: block;
    height: auto;
    max-height: 45vh;
    width: 100%;
    min-height: 500px;
    position: inherit;
    background-position: center;
    background-size: cover;
  }
}
