{{- $crumbs := slice -}}
{{- range .Ancestors.Reverse }}{{ $crumbs = $crumbs | append . }}{{ end -}}
{{- if and (not .IsHome) (or (eq (len $crumbs) 0) (not (index $crumbs 0).IsHome)) }}
  {{- $crumbs = slice .Site.Home | append $crumbs -}}
{{- end -}}
{{- $crumbs = $crumbs | append . -}}
{{- $current := . -}}
<ol class="breadcrumb" itemprop="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
  {{- range $i, $p := $crumbs }}
  <li {{ if eq $p $current }}class="active"{{ end }} itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
    {{ if $p.Permalink }}
    <a itemprop="item" href="{{ $p.Permalink }}">
      <span itemprop="name">{{if $p.IsHome}}Start{{else}}{{ $p.Title }}{{end}}</span>
    </a>
    {{ else }}
      <span itemprop="name">{{if $p.IsHome}}Start{{else}}{{ $p.Title }}{{end}}</span>
    {{ end }}
    <meta itemprop="position" content="{{ add $i 1 }}"/>
  </li>
  {{- end }}
</ol>
