$color-red: #F70203;
$color-yellow: #EBC904;
$color-light-grey: #f5f5f5;
$top-nav-height: 60px;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h1 {
  color: $color-red;
}

h2, h3 {
  color: $color-yellow;
}

.header {
  background: url('../img/top.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  max-height: 50vh;
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.content {
  width: 80vw;
  max-width: 1100px;
  min-height: 200px;
  margin: -50px auto 0 auto;
}

.footer {
  background-color: $color-light-grey;
  width: 80vw;
  height: 40px;
  max-width: 1100px;
  margin: 20px auto;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
  }

  a {
    text-decoration: none;
    color: darken($color-light-grey, 20%);

    &:hover {
      color: darken($color-light-grey, 40%);
      text-decoration: none;
    }
  }
}

.brand-print {
  display: none;
}

@media print {
  .brand-print {
    display: block;
    margin: 0 auto;
  }

  .navigation,
  .header {
    display: none;
  }
}