@import 'global-variables';

.address {
  span {
    &:not(:first-of-type) {
      &::before {
        content: ', ';
        display: inline;
      }
    }
  }
}

.gewerbe-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.gewerbe {
  width: 300px;
  height: 250px;
  background: $gray-lighter;
  float: left;
  margin: 20px;
}
