@import 'global-variables';

.description {
  font-size: .9em;
  font-style: italic;
}

.show-passed {
  font-size: $font-size-small;
  font-style: italic;
  color: $gray-light;
  padding: 0;
  cursor: pointer;
}

table {
  border: 1px solid $gray-border-color;
  width: 100%;
  margin: 15px 0 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border: 1px solid $gray-light-border-color;
    padding: 5px;

    &.passed {
      color: $text-color-inactive;
    }

    &.collapsed {
      display: none;
    }

    &:nth-child(even) {
      background-color: $gray-lightest;
    }
  }

  th,
  td {
    padding: 10px;
  }

  th {
    text-transform: uppercase;
    font-size: $font-size-base;
    letter-spacing: 1px;
    background-color: $color-yellow;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  table {
    border: 0;

    thead {
      display: none;
    }

    tr {
      margin-bottom: 5px;
      display: block;
      border-bottom: 2px solid $gray-light-border-color;
    }

    td {
      display: block;
      font-size: 13px;
      border-bottom: 1px dotted $gray-border-color;
      padding: 5px;
      text-align: left;

      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
