extends ../template.pug

block variables
  -
    var title = "Impressum";
    var description = "Das Impressum der Webseite Wollbachs";
    var keywords = "Impressum, Kontakt, Übersicht, Webseiteninformationen, Informationen zur Webseite, Rechtiliches, Haftung, Haftungsausschluss, Datenschutz";

block pageStyles
  include ../styles/impressum.css

block content
  :marked
    # Kontakt

  img.pen(src="/img/fueller.jpg" alt="Füller")

  :marked
    Sie können uns gerne [eine e-Mail schicken][ov].

    Wir freuen uns über Ihre Anregungen, Kritik und Hinweise und beantworten
    gerne Ihre Fragen!

    # Angaben gemäß §5 TMG

    **Wollbach**<br />
    79400 Kandern - Wollbach

    ## Vertreten durch:
    Ortsvorsteher Max Sütterlin.

    # Datenschutz und Haftungsauschluss
    - [Haftungsausschluss][haftung]
    - [Datenschutzerklärung][privacy]

    # Weitere Informationen
    - [Seiten - Übersicht][siteOv]
    - [Sitemap][sitemap]

    # Validierungen unserer Seite
    [![Valid HTML 5][htm]][htmLink]
    [![Valid CSS!][css]][cssLink]

    [haftung]:  haftung.html
    [privacy]:  datenschutz.html
    [siteOv]:   seiten-uebersicht.html
    [sitemap]:  sitemap.xml

    [ov]:    mailto:ortsvorsteher@wollbach.info

    [htm]:     http://www.w3basis.de/imgs/html5.png
    [htmLink]: http://validator.w3.org/check?uri=http%3A%2F%2Fwollbach.info%2F
    [css]:     http://jigsaw.w3.org/css-validator/images/vcss-blue
    [cssLink]: http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwollbach.info%2F
