---
title: "Willkommen in Wollbach"
description: ""
keywords: "Wollbach, Kandern Wollbach, Gemeinde, Ortsteil, Stadtteil, 79400"

hideBreadcrumb: true
---

extends ../template.pug

block content
  :marked
    # Grußwort des Ortsvorstehers

    Unser schönes Dorf Wollbach liegt am Fuße des Schwarzwaldes, am Treffpunkt von Wollbach- und
    Kandertal im Markgräflerland, zwischen Oberrheinischer Tiefebene und dem Südschwarzwald.

    Wollbach wurde im Jahr 767 erstmals urkundlich erwähnt – feiert also im Jahr 2017 das 1250-jährige
    Jubiläum. Das war auch der Grund, mit dieser Homepage im Internet aufzutreten.

    Zur ehemals selbständigen Gemeinde gehören die Ortsteile Egerten, Egisholz, Hammerstein und
    Nebenau. Am 01. März 1974 erfolgte die Eingemeindung zur Stadt Kandern – mit einer
    Gemarkungsfläche von 1860 ha ist Wollbach der größte Stadtteil Kanderns und zählt aktuell 1350
    Einwohner. Die überwiegende Zahl der Bevölkerung bekennt sich zur evangelischen Konfession – in
    der evangelischen Kirche in Wollbach wird jeden Sonntag ein Gottesdienst abgehalten, die
    katholischen Gläubigen besuchen die Messe in Kandern.

    Immer weniger Einwohner sind im einstigen Bauerndorf hauptberuflich in der Land- und
    Forstwirtschaft tätig. Die meisten üben im Großraum Lörrach – Basel einen Beruf aus, einige sind
    selbständig oder angestellt in den Handwerksbetrieben: Elektro, Fliesenleger, Frisör, Ingenieurbüros,
    Mühle, Schreinereien, Selbstvermarkter, Zimmerei u.a..

    Wollbach ist nicht nur landschaftlich interessant – es liegt 303 m über dem Meeresspiegel, hat ca.
    1100 ha Wald, 600 ha landwirtschaftliche Nutzfläche, 14 ha Reben und ein 30 km langes Wegenetz - ,
    sondern auch in sportlicher und kultureller Hinsicht. Der Planetenweg im schönen Seitental, das
    Museum im Kirchturm, das Max-Böhlen- Museum und das "Kreiterhofmuseum" laden ebenso ein
    zum Besuch wie der Kalkofenpfad, der Naturerlebnis-/Kulturweg, aber auch die historischen Mühlen,
    von denen die Hofmühle noch betrieben wird.

    Mit den Stationen an der Kandern-Basel- Verbindung ist man auch infrastrukturell attraktiv – am
    Wochenende kann man in den Sommermonaten die Station an der historischen Kandertalbahn
    nutzen – und hat mit der "Schatzkiste" vor Ort einen zweigruppigen Kindergarten und eine
    Kinderkrippe. Im 1965 eingeweihten Schulgebäude ist derzeit eine evangelische Grundschule, eine
    1978 erbaute Mehrzweckhalle mit "Kandertalstüble" bietet vor allem den sport- und kulturtreibenden
    Vereinen Übungs- und Festräume.

    Ein sehr vielfältiges Veranstaltungsprogramm der über 10 Vereine zeugen vom intakten Dorfleben,
    die 11 Gastronomiebetriebe von der vorbildlichen Gastfreundschaft.

    *Wir freuen uns auf Ihren Besuch.*

    Im Namen der Ortsverwaltung und des Ortschaftsrates Wollbach

    Max Sütterlin, Ortsvorsteher

block pageStyles
  
block pageScripts
  