---
title: "Kirche"
description: "Die Kirche und die Kirchengemeinde in Wollbach"
keywords: "Kirche, Pfarrei, Evangelische Pfarrkirche, Cyriacus und Mauritius, Pfarrhaus"

navigation: "top"
---

extends ../template.pug

block pageStyles
  include ../styles/kirche.css

block content
  :marked
    Eine Kirche in Wollbach wird erstmals 1275 urkundlich erwähnt. Ihre Patrone
    sind die Märtyrer Cyriacus und Mauritius. Seine heutige Gestalt erhielt das
    Gotteshaus im Wesentlichen bei einem Erweiterungsbau im Jahr 1758. Der
    Kirchenturm wurde 1831 um ein Geschoss erhöht und mit einem Pyramidendach
    versehen. Die letzte umfassende Renovierung erfolgte in den Jahren 1978
    bis 1980. Dabei wurden unter anderem zwei bis dahin unter Verputz befindliche
    barocke Fresken an der Südwand freigelegt und restauriert sowie die
    dortigen alten Langfenster durch kunstvoll gestaltete neue ausgewechselt.
    Ebenso wurde das zugemauerte kleine gotische Fenster auf der Ostseite
    wieder freigelegt und kunstvoll verglast. Die Orgel, die 1988 von Georg
    Heintz in Schiltach erbaut wurde, ist auf der Seitenempore platziert. Das 1922
    gegossene und als sehr schön geltende Kirchengeläut besteht aus drei
    unterschiedlich großen Glocken, die auf die Schlagtöne Fis, E und Cis
    gestimmt sind und als Inschriften die Bibelverse "O Land, Land, Land, hört
    des Herrn Wort", "Gib Frieden Herr, gib Frieden" und "Tröstet, Tröstet mein
    Volk, spricht euer Gott" tragen. Das heutige Pfarrhaus wurde 1869 nach
    Entwürfen des Kirchenbauinspektors Diemer erbaut und 1870 erstmals bezogen.
    Das Haus westlich gegenüber der Kirche, das heute als Hotel-Restaurant
    "Pfaffenkeller" geführt wird, diente ab 1618 für einige Zeit als
    Pfarrhaus. Weitere Informationen entnehmen Sie der [Webseite der evangelischen
    Kirchengemeinde Kandern](http://www.ekikandern.de/).

  +image-css("/img/kirche.jpg", "Kirche Wollbach")
