---
title: "Kirche"
description: ""
keywords: "Kirche, Pfarrei, Evangelische Pfarrkirche"

navigation: "top"
---

block content
  :marked
    Die Evangelische Kirche Wollbach im gleichnamigen Stadtteil des
    südbadischen Kandern geht auf das 13. Jahrhundert zurück. Teile dieser
    ersten Kirche sind im Mauerwerk der südlichen Langhausmauer und der
    westlichen Giebelwand erhalten.