---
title: "Vereine"
description: ""
keywords: "Vereine, Vereinsarbeit, Musik, Gesang, Sport, Engagement, Fastnacht"

navigation: "top"
---

extends ../template.pug

block pageStyles
  include ../styles/vereine.css

mixin verein(name, url)
  .verein(itemscope itemtype="http://schema.org/LocalBusiness")
    h2.title(itemprop="name")
      if (url)
        a(href=url itemprop="url" target="_blank")= name
      else
        | #{name}

block content
  +verein("Erste Markgräfler Dilettantenmusik")
  +verein("DRK Ortsverein Wollbach")
  +verein("Feuerwehr Abteilung Wollbach", "http://www.feuerwehr-kandern.de")
  +verein("Frauenverein")
  +verein("Füürdeufel")
  +verein("Kirchenchor")
  +verein("Männergesangverein")
  +verein("Musikverein Wollbach 1866 e.V.", "http://www.mv-wollbach.de")
  +verein("Sportverein Wollbach")
  +verein("Schützenverein Wollbach")
  +verein("Tennisclub Wollbach", "http://www.tc-wollbach.de")
  +verein("Wiigeischter")
  +verein("Wollbacher Chochlöffel e.V.", "http://www.wollbacher-chochloeffel.de/")
  +verein("Wollbacher Wanderfreunde")

  h1 Abkären
  +verein("Kinder- und Jugendtreff Wollbach / 'Asbach Chäller Wollbach'")
