extends ../template.pug

block variables
  -
    var title = "Vereine";
    var description = "Eine Übersicht über Vereine in Wollbach";
    var keywords = "Vereine, Vereinsarbeit, Musik, Gesang, Sport, Engagement, Fastnacht";

block pageStyles
  include ../styles/vereine.css

mixin verein(name, url)
  .verein(itemscope itemtype="http://schema.org/LocalBusiness")
    h2.title(itemprop="name")
      if (url)
        a(href=url itemprop="url" target="_blank")= name
      else
        | #{name}

block content
  +verein("Dilettantenmusik")
  +verein("DRK Ortsverein Wollbach")
  +verein("Frauenverein")
  +verein("Füürdeufel")
  +verein("Kirchenchor")
  +verein("Männergesangverein")
  +verein("Musikverein Wollbach 1866 e.V.", "http://www.mv-wollbach.de")
  +verein("Sportverein Wollbach")
  +verein("Schützenverein Wollbach")
  +verein("Stachelbieschter")
  +verein("Tennisclub Wollbach", "http://www.tc-wollbach.de")
  +verein("Wiigeischter")
  +verein("Wollbacher Chochlöffel e.V.", "http://www.wollbacher-chochloeffel.de/")
  +verein("Kinder- und Jugendtreff Wollbach")
