---
title: "Geschichte Wollbachs"
description: "Historie der Gemeinde Kandern Wollbach von der ersten urkundlichen Erwähnung bis heute"
keywords: "Historie, Geschichte, Entwicklung"

schemaOrg: "AboutPage"
navigation: "top"
---

extends ../../template.pug

block content
  :marked
    # 767
    Erste urkundliche Erwähnung des Dorfes in einem Schenkungsdokument an das Kloster St. Denis.

    # 1215
    Erster dokumentierter Nachweis eines Geistlichen im Dorf (Leutpriester Wernherus), was darauf schließen lässt, dass bereits eine Kirche bestand.

    # 1275
    Urkundliche Ersterwähnung der Kirche St. Cyriakus und St. Mauritius.

    # 1400
    Erstmals wird in Wollbach ein Vogt namens Goltze von der Bruckmühle urkundlich erwähnt.

    # 1556
    Wollbach wird evangelisch

    # 1558
    Jodocus Mitler wird erster evangelischer Pfarrer in Wollbach

    # 1583
    Als erster Lehrer von Wollbach wird der "Erwürdig Wolgelert" Johann Simon Thorwürth, ein fahrender Lehrer aus dem Hessenlande erwähnt.

    # 1595
    Wollbach ist eine der 16 (von 40) Gemeinden der Diözese Rötteln, die eine eigene Schule melden können.

    # Um 1740
    Landvogt Ernst Friedrich Leutrum von Ertingen stellt in der  Beschreibung seines Dienstbezirks ("Leutrumsche Handschrift") der Vogtey Wollbach ein äußerst positives Zeugnis aus. 

    # 18\. Jahrhundert
    Wollbach ist  Bezirksforstei für den Hinteren Röttler Wald, 1769 wird das neue Forst- und Zehntgebäude (heute: Forsthof Wampfler) fertiggestellt.  

    # 1829
    Das bisherige Amt des Vogts wird abgeschafft. Dorfoberhaupt ist jetzt ein Bürgermeister. Als erster Träger dieser Bezeichnung amtiert von 1829 bis 1836 Mathias Sütterlin, als letzter Adolf Sütterlin von 1957 bis 1974.

    # 1847
    Neubau eines Schul- und Rathaus-Gebäudes mit angeschlossener Gemeindescheune und Farrenstall (heute Kindergarten und Kleinkinderkrippe).  

    # 1867
    Nach der Aufhebung der Bezirksforstei Wollbach und des Zehnten kommt das herrschaftliche Forsthaus in Privatbesitz.

    # 1895
    Einweihung der Kandertalbahn. Wollbach ist einziger Rangierbahnhof zwischen den beiden Endstationen. Es wird auch ein Bahnhofsgebäude mit Dienstwohnung des Vorstehers errichtet.

    # 1898
    Die zentrale Wollbacher Wasserversorgung wird fertiggestellt. Am 22. Dezember strömt das Leitungswasser erstmals in die angeschlossenen Haushalte.   

    # 1965
    Das neue Schulhaus an der Hofgasse (heute: Schulstraße) wird eingeweiht.

    # 1974
    Wollbach verliert seine kommunale Eigenständigkeit und wird Stadtteil von Kandern.

    # 1978
    Einweihung der Kandertalhalle

    # 2013
    Fusion der Kirchengemeinden Wollbach und Holzen
