---
title: "Geschichte Wollbachs"
description: ""
keywords: "Historie, Geschichte, Entwicklung"

schemaOrg: "AboutPage"
navigation: "top"
---

extends ../../template.pug

block content
  :marked
    Wollbach ist ein Ortsteil der Stadt Kandern in Südwestdeutschland, am Fuße
    des Schwarzwaldes in Baden-Württemberg. Die erste
    urkundliche Erwähnung des Ortes erfolgte 767. Zur ehemaligen Gemeinde
    Wollbach gehörten die Ortsteile Egerten, Egisholz, Hammerstein und Nebenau.
    Am 1. März 1974 wurde Wollbach in die Stadt Kandern eingemeindet.

    Der Ortsteil liegt an dem Treffpunkt von Wollbachtal und Kandertal im
    Markgräflerland, zwischen der oberrheinischen Tiefebene und dem
    Südschwarzwald. Der Kernort zieht sich bis in das Wollbachtal hinein und wird
    von dem Bach Wollbach durchflossen. Dieser bestimmt auch die geographische
    Teilung in Ober- (nördlich) und Unterdorf (südlich).

    Südlich, der Bundesstraße (Kandertalstrecke) und dem Kandertal folgend,
    befindet sich Wittlingen, sowie im Norden der Nebenort Hammerstein und dann
    die Stadt Kandern. Im Westen liegt das Dorf Maugenhard. Im Osten liegt
    Nebenau, im Nordosten Egisholz.

    Heute zählt Wollbach etwa 1350 Einwohner und hat eine Fläche von 18,4
    Quadratkilometern (zweit größte Gemarkungsfläche im Landkreis Lörrach).
    Davon entfallen 1200ha auf Wald, 600ha auf landwirtschaftliche Flächen und
    14ha auf Reben.
