---
title: "Öffentliche Einrichtungen"
description: "Eine Übersicht über öffentliche Einrichtungen in Wollbach"
keywords: "Öffentliche Einrichtungen"

navigation: "top"
---

extends ../../template.pug

mixin einrichtung(name, url)
  .einrichtung(itemscope itemtype="http://schema.org/LocalBusiness")
    h2.title(itemprop="name")
      if (url)
        a(href=url itemprop="url" target="_blank")= name
      else
        | #{name}
    block

block pageStyles
  include ../../styles/oeffentliche-einrichtungen.css

block content
  +einrichtung("Rathaus und Kindergarten „Schatzkischte“")
    +image-css("/img/rathaus.jpg", "Rathaus")
    :marked
      Das Wollbacher Schul- und Rathaus wurde 1847 erbaut und beherbergte früher
      auch Lehrerwohnung, Luftschutzkeller, Ortsarrest und ein Totenwagen-Depot.
      Heute sind außer der Ortsverwaltung die Domizile der Feuerwehrabteilung,
      des DRK-Ortsvereins, die Kleinkinderkrippe, der Jugendtreff und eine
      Mietwohnung darin untergebracht. Das ehemalige kommunalte Ökonomiegebäude
      (links im Bild) wurde Anfang der 1990er-Jahre zu einem neuen Kindergarten
      umgebaut. Im Jahre 2013 wurde dieser erweitert um die Einrichtung einer
      Kinderkrippe im Obergeschoss des Rathausgebäudes, oberhalb der
      Ortsverwaltung.

  +einrichtung("Schule")
    +image-css("/img/schule.jpg", "Schule")
    :marked
      Das in den Jahren 1963 bis 1965 errichtete neue Schulhaus wurde am 31. Juli 1965
      eingeweiht und bis zur Gemeindereform als Nachbarschaftsschule geführt.
      Rückläufige Schülerzahlen und diverse Schulreformen veränderten mehrfach
      die pädagogische Nutzung. Vorrübergehend waren darin eine Außenstelle der
      Grundschule Kandern, eine Förderschule und Kleinkinder-Spielstube
      untergebracht. Heute wird das Gebäude als christliche Grundschule der
      Freien Evangelischen Schule Lörrach geführt. Die Gemeinde hat eine Option
      auf zwei Klassenräume zur Wiedereinführung der Grundschule in Wollbach.

  +einrichtung("Baselblick")
    +image-css("/img/baselblick.jpg", "Baselblick")
    :marked
      Die Baselblick-Hütte oberhalb des Rebbergs wurde in den 1950er-Jahren im
      Rahmen der damaligen Rebenumlegung als Ersatz für das zuvor dort
      befindliche, ziemlich zerfallene Räbhüsli erbaut. Gedacht war es
      ursprünglich als Schutzhütte für die in den Reben tätigen Menschen, wenn
      diese bei der Arbeit von einem Unwetter überrascht wurden. Inzwischen ist
      das Häuschen vielfrequentierte Wanderer-Raststation mit schöner Aussicht
      auf das vordere Kandertal und den Ballungsraum Basel. Gerne wird der Vorplatz
      für Grillfeste von Familien, Vereinen und sonstigen Gruppen genutzt.

  +einrichtung("Feuerwehr Abteilung Wollbach", "http://www.feuerwehr-kandern.de")
    +image-css("/img/feuerwehr.jpg", "Feuerwehr Abteilung Wollbach")

  +einrichtung("Kandertalhalle")
    +image-css("/img/halle.jpg", "Halle")
    :marked
      Die Kandertalhalle wurde 1977 als neues Sport- und Veranstaltungs-Zentrum
      des Dorfes eingeweiht. Zugleich wurde auch das "Kandertalstüble" als
      integrierte Kleingaststätte eröffnet. Die Hallenwirtschaft konnte sich
      allerdings nicht lange halten. Heute dient das Kandertalstüble als Raum
      für Gruppenarbeit, Vereinsproben und kleinere Feiern.

  +einrichtung("Kandertalbahn")
    +image-css("/img/bahnhof.jpg", "Bahnhof")
    :marked
      Der Wollbacher Bahnhof, an dem im Sommer die historische Eisenbahn auf der
      Kandertalstrecke von Haltingen nach Kandern hält, und rechts im Bild die
      Villa Ritter. Das Bahngebäude war das einzige zwischen Kandern und
      Haltingen mit Schalter- und Warteraum im Erdgeschoss und darüber liegender
      Dienstwohnung für den Bahnhofsvorsteher und seine Familie. Der Vorsteher
      war zugleich auch verantwortlicher Streckenbeamter zwischen den beiden
      Endbahnhöfen. Die Villa Ritter war das Geburtshaus des "modernen Robinson"
      Dr. Friedrich Ritter. Dieser kehrte 1929 der Zivilisation den Rücken und
      ließ sich mit seiner Lebensgefährtin auf einer einsamen Galápagos-Insel
      nieder. Das Schicksal des Aussteigers und sein mit spekulativen Gerüchten
      umrankter früher Tod 1934 fanden damals weltweit ein enormes Presse-Echo.

  +einrichtung("Jugendraum: 'Asbach Chäller'")
    :marked
      geöffnet am Mittwoch, Freitag und Samstag Abend
