---
title: "Öffentliche Einrichtungen"
description: ""
keywords: "Öffentliche Einrichtungen"

navigation: "top"
---

extends ../../template.pug

mixin einrichtung(name, url)
  .einrichtung(itemscope itemtype="http://schema.org/LocalBusiness")
    if (url)
      a(href=url itemprop="url" target="_blank")
        h2.title(itemprop="name")= name
    else
      h2.title(itemprop="name")= name

block content
  +einrichtung("Rathaus")
  +einrichtung("Schule")
  +einrichtung("Baselblick")
  +einrichtung("Kindergarten „Schatzkischte“")
  +einrichtung("Feuerwehr Abteilung Wollbach", "http://www.feuerwehr-kandern.de")
  +einrichtung("Kandertalhalle")
  +einrichtung("Kandertalbahn")
  +einrichtung("Jugendraum: 'Asbach Chäller'")
  :marked
    geöffnet am Mittwoch, Freitag und Samstag Abend
  +einrichtung("Bahnhof")

//-
  +einrichtung("Forsthof")
  +einrichtung("Pfarrhaus")