---
title: "Ortsverwaltung"
description: ""
keywords: "Ortsverwaltung, Gemeinderat, Ortsvorsteher"

navigation: "top"
---

extends ../../template.pug

block content
  :marked

    # Rathaus
    Obere Dorfstr. 11/1

    ## Öfnungszeiten
    - Dienstag, 10-12 Uhr
    - Donnerstag, 17-19 Uhr

    oder nach Vereinbarung

    # Ortsvorsteher
    Max Sütterlin seit dem 1. September 2012
    //- Ruth Unseld

    # Ortschaftsrat
      - Werner Brugger
      - Andreas Enders
      - Ralf Ernst
      - Max Geling
      - Hans-Rudolf Jakobi
      - Hanspeter Krey
      - Elisabeth Kurtenbach-Sepp
      - Franziska Serazio
      - Max Sütterlin
      - Alexander van Linn

    # Gemeinderat
      - Max Sütterlin (CDU)
      - Max Geling (FW)
      - Markus Stephan-Güldner (Grüne)
