---
title: "Ortsverwaltung"
description: "Die Ortsverwaltung Wollbachs mit Öffnungszeiten"
keywords: "Ortsverwaltung, Gemeinderat, Ortsvorsteher, Politik, Repräsentanten"

navigation: "top"
---

extends ../../template.pug

block content
  :marked
    # Rathaus
    Obere Dorfstr. 11/1

    ## Öfnungszeiten
    - Dienstag, 10:00 - 12:00 Uhr
    - Donnerstag, 17:00 - 19:00 Uhr
    - oder nach Vereinbarung

    # Ortsvorsteher
    Max Sütterlin seit dem 1. September 2012
    <!-- Ruth Unseld -->

    # Ortschaftsrat
      - Werner Brugger
      - Andreas Enders
      - Ralf Ernst
      - Max Geling
      - Hans-Rudolf Jakobi
      - Hanspeter Krey
      - Elisabeth Kurtenbach-Sepp
      - Franziska Serazio
      - Max Sütterlin
      - Alexander van Linn

    # Gemeinderat
      - Max Sütterlin (CDU)
      - Max Geling (FW)
      - Markus Stephan-Güldner (Grüne)
