---
title: "Über Wollbach"
description: "Karten von Wollbach mit seinen Nebenorten Egerten, Egisholz, Hammerstein und Nebenau"
keywords: "Nebenorte, Geographie, Egisholz, Nebenau, Egerten, Hammerstein"

navigation: "top"
---

extends ../../template.pug

block content
  :marked
    # Wollbach
    Kanderns südlichster Stadtteil Wollbach kann sich rühmen, bei der
    Gemeindereform 1974 die größte Gemarkungsfläche in die Stadt eingebracht zu
    haben. Doch das 18,6 Quadratkilometer große und weit verzweigte
    Siedlungsgebiet mit insgesamt rund 1350 Einwohnern erfordert auch besonders
    hohe Aufwendungen, um die  Infrastruktur zu sichern. Viele Kilometer
    Wegenetz sowie Ver- und Entsorgungssysteme bilden eine permanente
    finanzielle Belastung. Dennoch konnten in den letzten Jahrzehnten auch
    wichtige bauliche Maßnahmen wie Mehrzweckhalle und Kindergarten  realisiert
    werden. Und nach über 30 Jahren Planungsprozedere kam schließlich auch die
    Erschließung des neuen Baugebiets "Niedere Hofrütte" in Gang. Gleich nach
    der Gemeindereform wurde die  Ortskanalisation als langfristiges
    Etappenprojekt sukzessive erneuert. Das gesellschaftliche Miteinander im
    Dorf und seinen Nebenorten wird durch ein reges Vereinsleben geprägt. Eine
    über 150jährige Tradition haben dabei der Gesang- und Musikverein. Zu den
    ältesten Organisationen gehören auch die Feuerwehrabteilung und der
    Frauenverein. Sportverein, DRK-Ortsverein, Schützenverein und Kirchenchor
    blicken auch schon auf eine Jahrzehnte währende Tradition zurück. Die
    Szenerie wird jüngerer Vergangenheit attraktiv bereichert durch Kinder-
    und Jugendtreff, Landfrauen-Ortsverein, Tennisclub, Wanderfreunde und vier
    Fasnachtscliquen. Immer wieder gibt es außerdem Initiativen – regelmäßig
    auch vom Ortschaftsrat -, die sich ad hoc zum Wohl der Allgemeinheit
    engagieren, sei es die Sanierung der Spielplätze, die Renovierung der
    Friedhofsmauer, die Anlage von Lehr- und Themenwegen oder die Organisation
    des Kinder-Ferienprogramms alljährlich im Sommer. Ein lebendiges
    kirchliches Leben und eine vielgestaltige Gastronomie tragen nicht minder
    zur gehaltvollen Qualität des dörflichen Gemeinschaftsgefühls bei.
  +image("/img/karte-wollbach.jpg", "Wollbach")

  :marked
    # Hammerstein
    Als kleine Weiler von eigenem dörflichem Charme weisen 
    die vier Wollbacher Nebenorte jeweils einen individuellen Charakter auf. 
    Der größte davon ist Hammerstein mit knapp 170 Einwohnern. Dank seiner 
    Lage an der Landstraße 134 und der Kandertalschiene spielte das Dorf 
    früher eine wirtschaftlich exponierte Rolle. Hier wurden bis etwa 1960 
    die Bahnwaggons mit dem bei Egisholz abgebauten wertvollen Ton beladen 
    und dann gab es auf halber Strecke nach Kandern noch eine weitere 
    Bedarfsstation, wo der Zug das für den Wegebau gefragte 
    Steinbruchmaterial und Produkte einer kleinen inzwischen verschwundenen 
    Teerfabrik aufnahm. Derweil ist dort ein Ableger des Fraunhofer 
    Instituts etabliert. Wenige hundert Meter südlich von Hammerstein 
    befindet sich die Kläranlage der Stadt Kandern, die Anfang dieses 
    Jahrhunderts mit Millionenaufwand modernisiert wurde. Ursprünglich 
    waren die Hammersteiner wenig begeistert von dieser "öffentlichen 
    Einrichtung vor der Haustüre", doch mittlerweile stört ihr Anblick 
    kaum mehr und auch die befürchtete starke Geruchsbelästigung hält 
    sich in erträglichen Grenzen. Herausragendes Gebäude neben der 
    Bahnhofsgaststätte ist das historische Fachwerkhaus mit einem 
    Dachreiter darauf. Seine Besitzer haben es vor Jahren im Rahmen des 
    Dorfentwicklungsprogramms sorgfältig saniert. Die gute Verkehrslage 
    Hammersteins hat hier – neben den noch existierenden 
    landwirtschaftlichen Vollerwerbsbetrieben - auch eine bescheidene 
    Gewerbeblüte befördert. Aktuell besteht die Unternehmerszene aus einer 
    Zimmerei, einer Consultingfirma für Solarenergie, einer Kfz-Werkstätte 
    und einer Hausbrennerei.
  +image("/img/karte-hammerstein.jpg", "Hammerstein")

  :marked
    # Nebenau und Egerten
    Dort wo das Wollbach-Bächlein etwa vier Kilometer 
    nach seinem Quellgebiet die "Zivilisation" erreicht, schmiegt sich 
    das kleine Dörfchen Nebenau zwischen die Wald- und Feldhänge. Etwa 105 
    Einwohner leben hier in rund 30 Häusern, von denen die meisten sehr 
    schön renoviert sind. "Es ist ein Dorf mit wenig Himmel" schrieb 
    einmal ein Schüler in einem Aufsatz, dafür eines mit bewegter 
    Vergangenheit und einer ehemals beachtlichen Gewerbestruktur. Früher 
    gab es hier Ziegler, Hafner, Kalk- und Gipsbrenner. Einer der 
    historischen Kalköfen ist heute noch erhalten. Eine weitere lokale 
    Besonderheit ist das so genannte Krebsebächlein, das von einer warmen 
    Quelle gespeist wird. Laut Chronikberichten soll hier im Mittelalter 
    reges Badeleben geherrscht haben. Heute ist ein Teilstück des 
    Bächleins mit Brunnenkresse bewachsen, die im warmen Wasser auch im 
    Winter gedeiht und von einem Anwohner kultiviert und vermarktet wird. 
    Einige hundert Meter oberhalb von Nebenau liegt das 110-Seelen-Dörfchen 
    Egerten, das im Verhältnis zur Einwohnerzahl "Deutschlands größte 
    Wirtschaftsdichte" aufweist, denn neben einer traditionsreichen 
    Dorfgaststätte gibt es am Ortsende noch ein renommiertes Nobellokal, 
    neben dem sich zudem ein kleines Museum mit dem Nachlass des einst hier 
    wirkenden Künstlers Max Böhlen befasst. Am Ortseingang befindet sich eine 
    Weinschenke, die von Frühjahr bis Weihnachten zum gastlichen Verweilen 
    einlädt nebst Besichtigung eines Hausmuseums und einer Fülle 
    ländlicher Antiquitäten.
  +image("/img/karte-egerten-nebenau.jpg", "Egerten und Nebenau")

  :marked
    # Egisholz
    Hoch über dem Kandertal am Südwesthang des Heubergs liegt 
    Egisholz, der vierte zu Wollbach gehörende Filialort. Wegen seiner 
    Hanglage, die einen weiten Blick Richtung Rheinebene und Vogesen 
    ermöglicht, ist das Dörflein als Wohngegend neuerdings sehr gefragt. 
    Dies machte sich in den letzten Jahren bemerkbar in einer regen 
    Neubautätigkeit, die die jahrzehntelang auf unter 100 Menschen 
    eingependelte Einwohnerzahl spürbar anschnellen ließ. In der 
    Vergangenheit war Egisholz vorwiegend landwirtschaftlich geprägt und 
    seinen bäuerlichen Charakter hat es sich bis heute bewahrt. Ein 
    besonderer Gewerbezweig hier war auch die sogenannte „Lättegruebe“ 
    (Lehmgrube), deren Tonabbau für die Zementfabrik in Kleinkems im 
    vorigen Jahrhundert lange Zeit stark florierte, da der Egisholzer Ton 
    qualitativ besonders wertvoll war. In den 1970er-Jahren wurde die 
    mittlerweile stillgelegte und durch Erdrutsche veränderte Lehmgrube in 
    eine Mülldeponie umfunktioniert und später sogar vom Landkreis als 
    Sondermülldeponie für belastetes Baumaterial genutzt. Drohende 
    Umweltschäden bewirkten dann allerdings, dass das Gelände renaturiert 
    und später von der Markgräfler Naturschutzgruppe des 
    Schwarzwaldvereins übernommen und gepflegt wurde. In gewerblicher 
    Hinsicht ist das verkehrsmäßig nicht optimal erschlossene Dörfchen 
    nicht eben ein idealer Platz. Dennoch ist hier seit Jahren ein 
    erfolgreiches Familien-Unternehmen für Vertrieb und Montage von 
    Bauelementen, Türen und Fenstern etabliert. 
  +image("/img/karte-egisholz.jpg", "Egisholz")
