---
title: "Museen"
description: ""
keywords: "Museen, Kultur, Sehenswertes, Freizeit"

navigation: "top"
---

extends ../../template.pug

block content
  :marked
    - Der Kirchturm beherbergt ein Turm-Museum.
    - Im Ortsteil Egerten befindet sich das Max Böhlen-Museum.
    - Am 3. Oktober 2009 wurde das "Kreiterhofmuseum" eröffnet.