<div class="museum" itemscope itemtype="https://schema.org/LocalBusiness">
    <h2 class="title" itemprop="name">{{- .Get "name" -}}</h2>
    <div class="address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ .Get "street" }}</span><!--
        --><span itemprop="addressLocality">{{ .Get "town" }}</span>
        <span class="hidden" itemprop="addressRegion">Germany</span>
        <span class="hidden" itemprop="postalCode">79400</span>
    </div>
    {{ .Inner | markdownify }}
    {{- if .Get "url" -}}
    <p><a href="{{ .Get "url" }}" itemprop="url" target="_blank" rel="noopener">Webseite</a></p>
    {{- end -}}
</div>
