{{ with $.Site.Data.veranstaltungen}}
{{ range $year, $value := . }}
<h2>{{ $year }}</h2>
<table class="appointments" aria-label="Veranstaltungen">
  <thead>
  <tr>
      <th class="date" scope="col">Datum</th>
      <th class="organizer" scope="col">Veranstalter</th>
      <th class="title" scope="col">Veranstaltung</th>
  </tr>
  </thead>
    <tbody>
    {{ range $value }}
          <tr itemscope itemtype="https://schema.org/Event">
            <td>
                {{ partial "timespan" (dict "start" .starttime "end" .endtime "schema" true) }}
            </td>
            <td itemprop="organizer">
              <span itemscope itemtype="https://schema.org/Organization" itemprop="name">
                  {{ .organizer }}
              </span>
            </td>
            <td>
              <span itemprop="name">
                  {{ .title }}
              </span>
              {{ with .location }}
                &nbsp;(<!--
                  --><span itemprop="location" itemscope itemtype="https://schema.org/Place"><!--
                      -->{{ with .name }}<!--
                        --><span itemprop="name">{{ . }}</span><!--
                      -->{{ end }}<!--
                      -->{{ if and .name .address}}<!--
                        -->,&nbsp;<!--
                      -->{{ end }}<!--
                      -->{{ with .address }}<!--
                        --><span itemprop="address">{{ . }}</span><!--
                      -->{{ end }}<!--
                  --></span><!--
                -->)
              {{ end }}
              {{ with .description }}
                <div class="description" itemprop="description">
                    {{ . | markdownify }}
                </div>
              {{ end }}
            </td>
          </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}
{{ end }}
