$breadcrumb-print-color: #000;

.print-only {
  display: none;
}

@media print {
  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href] {
      &::after {
        content: ' (' attr(href) ')';
      }
    }

    &[href^='#'],
    &[href^='javascript:'] {
      &::after {
        content: '';
      }
    }
  }

  pre,
  blockquote,
  tr,
  img {
    break-inside: avoid;
  }

  pre,
  blockquote {
    border: 1px solid $gray-light;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100%;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    break-after: avoid;
  }

  .flx-global-navigation {
    display: none;
  }

  .label {
    border: 1px solid $text-color;
  }

  .print-only {
    display: block;
    margin: 0 auto;
  }

  .navigation,
  .header,
  .footer {
    display: none;
  }

  html,
  body {
    background: none;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 12pt;
    padding-top: 0;
  }

  header,
  .navbar {
    display: none;
  }

  h1 {
    font-size: 18pt;
  }

  h2 {
    font-size: 16pt;
  }

  h3 {
    font-size: 14pt;
  }

  .img-responsive {
    max-height: 45vh;
  }

  img,
  tr,
  td,
  table {
    break-inside: avoid;
  }

  .breadcrumb {
    color: $breadcrumb-print-color;
    font-size: 8pt;

    a {
      &::after {
        display: none;
      }
    }
  }
}
